/* .links{
    display: flex;
    gap: 20px;
} */
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: antiquewhite;
}

.links {
  display: flex;
  gap: 30px;
  
}
.links a{
    text-decoration: none;
    font-weight: normal;
    color: inherit;
}
.links a:hover{
    font-size: 18px;
    font-weight: bold;

}
.links a.active {
  font-weight: bold;
  border-bottom: 2px solid black;  /* optional active indicator */
}

